/* #display-box * {
    border: 1px solid black;
} */

#display-box {

    position: absolute;
    z-index: 10;

    height: 200px;
    width : 281px;
    
    padding: 10px 20px 0 20px;
    box-sizing: border-box;

    cursor: grab;
    text-align: center;
    
}

#display-box-content {

    all:initial;
    position: relative;
    display: block;
    box-sizing: border-box;

    text-align: left;
    overflow-wrap: break-word;
    font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
    font-size: 14px;
}

#display-box-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    bottom: 12px;
    width: auto;
    height: 30px;
    margin: 0 16px;

    border: 1px solid #eaeaea;
    border-radius: 3px;
    
    z-index: 20;
    cursor: text;

    font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
    line-height: 26px;
}

#display-box-input {
    flex-grow: 2;
    font-size: 16px;
    padding-left: 3px;
    border: none;
    width: auto;

}

#display-box-button {
    z-index: 30;
    display: inline;
    padding: auto;
    margin-right: 6px;

    background-color: #C53131;


    border-color: transparent;
    border-radius: 3px;

    font-size: 8px;
    color: #fff;
    cursor: pointer;

    font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#display-box-button:hover {
    color: #fff;
    background-color: #9c2727;
    box-shadow: 0 0 10px 2px #731d1d inset;
}

/* Makes it so that shift doesn't highlight willy-nilly */
#content {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* roll display stuff */
.headline {
    font-size: 1.6em;
    margin: 0;
}
.subhead {
    margin: 0;
    font-weight: 700;
}
.button-box {
    margin-top: 5px;
}
.roll-box {
    justify-content: space-between;
}
/* roll columns */
.row {
    display: flex
}
.col {
    display: flex;
    flex-direction: column;
}
.col > * {
    line-height: 1;
    padding: 4px
}

.roll-result-column {
    padding-right: 12px;
}

.roll-label {
    font-weight: bold;
    font-size: 10px;
    font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;
    text-transform: uppercase;
}

span.roll-info {
    line-height: 18px;
    vertical-align: middle;
}

span.roll-result {
    font-family: 'Cinzel Decorative';
    font-size: 25px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
}

.grow {
    flex-grow: 1
}
.nowrap {
    white-space: nowrap;
}
.text-left {
    text-align: left;
}


.raw-roll-damage {
    text-align: center;
}

.modifier-input {
    max-width: 58px;
}

.advantage-button {
    width: 100px;
}





.dice-box {
    margin-top: 4px;
}

.dice-box-col {
    justify-content: space-between;
}



.roll-in-place {
    font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;
    color: #C53131;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;

    position: absolute;
    
}

/* bringing over results text */

.results-command-header {
    display: block;
    font-size: 13px;
    height: 18px;
    line-height: 18.2px;
    font-weight: 700;
    border-bottom: 1px solid #efefef;
    text-transform: uppercase;
}

.results-command {
    font-weight: 400;
    color: black;
    font-size: 12px;
    text-transform: none;
}

.roll-result-text {
    display: inline-block;
    text-align: right;
    font-weight: 700;
    color: black;
    width: 2em;
}
.roll-raw-text {
    font-weight: 400;
    color: black;
}
/* add spacer */
.roll-result-text + .roll-raw-text {
    margin-left: 10px;
}

.roll-total-text {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
}