.skills-pane-mouseover:hover {
    outline: 1px solid #c53131;
    outline-offset: -2px;
}

.primary-box-mouseover:hover {
    outline: solid 1px #c53131;
}
.primary-box-mouseover {
    /* these margins allow the border to be seen on the ends */
    margin-inline-end: 3px;
    margin-inline-start: 3px;
    /* this margin prevents an issue with the first item in the list being a different size */
    margin-top: 8px;
    border-top: solid 1px rgb(234, 234, 234);
    padding-top: 8px;
}

.sidebar-damage-box {
    all: initial;
    outline: 1px solid #c53131;
    outline-offset: -1px;
    background-color: #c53131;
}

.ct-sidebar-inner {
    all: initial;
    background-color: #c53131;
}

.saving-throw-mouseover:hover {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/saves_box_red.svg');
}

.saving-throw-mouseover:hover > div {
    background-image: none;
}

.saving-throw-mouseover:hover .ct-no-proficiency-icon {
    border: .5px solid;
    border-top-color: #c53131;
    border-bottom-color: #c53131;
    border-left-color: #c53131;
    border-right-color: #c53131;
}

.initiative-box-mouseover:hover {
    color: #c53131;
}
.initiative-box-mouseover:hover .ct-signed-number__sign {
    color: #c53131;
}